extends layout

block content
    #fbLogIn
    canvas#canvas
    p#footer (C) 2015 Pixel By Pixel --
        a#about(href="http://google.com") About
    script(src='javascripts/CellInterface.js')
    script(src='jacascripts/cell.js')
    script.
        popup({color: "#000000", facebookId: "aodsasd9125r", x: 4, y: 10, date: "1/1/15"});
        pool.getConnection(function (err, connection) {
            if (err) {
                connection.release();
                res.json({"code": 100, "status": "Error in connection database"});
                return;
            }

            console.log('connected as id ' + connection.threadId);

            connection.query("select * from mydb.pxbypx", function (err, rows) {
                connection.release();
                if (!err) {
                    var pline = document.createElement("p");
                    pline.appendChild('LOL')
                    document.body.appendChild(pline);
                }
            });

            connection.on('error', function (err) {
                res.json({"code": 100, "status": "Error in connection database"});
                return;
            });
        });