extends layout

block content
    #fbLogIn
    canvas#canvas
    p#footer (C) 2015 Pixel By Pixel --
        a#about(href="http://google.com") About
    script(src='javascripts/cell.js')
    script(src='javascripts/CellInterface.js')
    script(src='javascripts/navigation.js')
