doctype html
html
  head
    title= 'Pixel By Pixel'
    div(align= 'right')
      fb:login-button(id='facebookButton',scope='public_profile,email', onlogin='checkLoginState();')
      | <br><br>
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(id= 'body')
    block content
